html {
    min-height: 100%;
    position: relative;
} 
body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    margin-bottom: 40px;
    background-color: #f1f1f1;
}
.creator-content{
    position: relative;
    background-color: white;
    padding: 8px;
    line-height: 22px;
    border-radius:.5rem;
    box-shadow: 0px 1px 3px #c0c0c2;
}
.creator-content>h2 {
    margin-bottom: 10px!important;
}
.info-section{
    font-size: 12px;
}
input{
    font-size: 12px!important;
    padding: 3px 25px!important;
}
.btn-send{
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: #3c6fc7;
    padding: 5px;
    border-radius:.5rem;
    box-shadow: 0px 1px 3px #c0c0c2;
}
.btn{
    font-size: 14px;
}
.gly-icon{
    position: absolute;
    left: 15px;
    top: 41px;
}
.c-green{
    color: rgb(94, 250, 94);
}
.c-red, .error{
    color: red;
}
.c-blue{
    color: #3c6fc7;
}
.ta-c{
    text-align: center;
}
.ta-r {
    text-align: right;
}
.ta-l{
    text-align: left;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%; 
}